<style type="text/css">

body{
  background-color: #029;
}
h1 {
  text-align: center;
  text-decoration: underline;
  color: white;
}
h4 {
  text-align: center;
  text-decoration: underline;
  color: #999;
}
.Email{
  text-align: center;
  color: white;
}
.Phone{
  text-align: center;
  color: white;
}


</style>
<h1>Contacts List</h1>
<h4>Name: <%=@contact1_name%></h4>
<p class="Email">Email: <%=@contact1_email%></p>
<p class="Phone">Phone: <%=@contact1_phone_number%></p>

<h4>Name: <%=@contact2_name%></h4>
<p class="Email">Email: <%=@contact2_email%></p>
<p class="Phone">Phone: <%=@contact2_phone_number%></p>

<h4>Name: <%=@contact3_name%></h4>
<p class="Email">Email: <%=@contact3_email%></p>
<p class="Phone">Phone: <%=@contact3_phone_number%></p>


