<h1>Add a new contact!</h1>

<%= form_tag '/contacts', method: :post do%>
<div class="form-group">
  <%= label_tag :first_name, 'Enter first name: '%>
  <%= text_field_tag :first_name,'', class:"form-control" %>
</div>
<div class="form-group">
  <%= label_tag :middle_name, 'Enter middle name: '%>
  <%= text_field_tag :middle_name,'', class:"form-control" %>
</div>
<div class="form-group">
  <%= label_tag :last_name, 'Enter last name: ' %>
  <%= text_field_tag :last_name,'', class:"form-control" %>
</div>
<div class="form-group">
  <%= label_tag :email, 'Enter email: ' %>
  <%= text_field_tag :email,'', class:"form-control" %>
</div>
<div class="form-group">
  <%= label_tag :phone_number, 'Enter phone number(4 digits): ' %>
  <%= text_field_tag :phone_number,'', class:"form-control"%>
</div>
<div class="form-group">
  <%= label_tag :bio, 'Enter bio: ' %>
  <%= text_field_tag :bio,'', class:"form-control"%>
</div>
<div>
  <%= submit_tag 'Submit new contact!', class:"btn btn-primary" %>
</div>
<%end%>